
<!DOCTYPE html>

<!--[if lt IE 8]>

<html lang="en"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie">

<![endif]-->

<!--[if IE 8]>

<html lang="en"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie8">

<![endif]-->

<!--[if IE 9]>

  <html lang="en"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie9">

<![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"
      
      xmlns:fb="http://ogp.me/ns/fb#">

<!--<![endif]-->

  <head>
    <link rel="dns-prefetch" href="//maps.googleapis.com">
    <link rel="dns-prefetch" href="//maps.gstatic.com">
    <link rel="dns-prefetch" href="//mts0.googleapis.com">
    <link rel="dns-prefetch" href="//mts1.googleapis.com">

    <!--[if IE]><![endif]-->
    <meta charset="utf-8">


    <!--[if IE 8]>
      <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1_ie8-f1f9b79f8c2d433d2b51e2678e2ad892.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if !(IE 8)]><!-->
      <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1-0ccf46e867d722b99e0b80c501f41471.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    
  <!--[if lt IE 10]>
  <link href="https://a0.muscache.com/airbnb/static/p1/main_ie-36143fb0b757af1f5ec65b3d89d2f708.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if (gte IE 10)|!(IE)]><!-->
  <link href="https://a0.muscache.com/airbnb/static/p1/main-8c0459d3f86c56c69dc82f5b6603c4fc.css" media="screen" rel="stylesheet" type="text/css" />
  <!--<![endif]-->

    

    <style>
      
    </style>

    <meta id="csrf-param-meta-tag" name="csrf-param" content="authenticity_token"/>
    <meta id="csrf-token-meta-tag" name="csrf-token" content=""/>

    <script>
      var sherlock_firstbyte = Number(new Date());
      var googleMapsUrl = '//maps.googleapis.com/maps/api/js?language=en&sensor=false&v=3.13&libraries=places&client=gme-airbnbinc&channel=monorail-prod';
      var userAttributeCookies = {
        flags_name: 'flags',
        roles_name: 'roles',
        flags: {"can_see_pretzel":1,"can_see_community":2,"display_assets_for_pretzel":4,"og_publish":16,"has_wishlisted":32,"update_cached":64,"revert_to_admin":128,"facebook_connected":256,"has_search":1024,"search_help_dropdown":2048,"has_dates":4096,"show_fb_prompt":8192,"lightweight_wishlist":16384,"can_send_profile_messages":32768,"just_logged_in":65536,"has_been_host":131072,"should_drop_pellet":262144,"is_active_host":1048576,"can_see_meetups":134217728,"should_drop_sift_pellet":268435456,"can_see_groups":536870912,"has_verified_phone":1073741824,"has_profile_pic":2147483648},
        roles: {"is_admin":1,"is_aircrew":8,"is_content_manager":1048576,"is_stats_admin":16777216}
      };
    </script>


    <title>Vacation Rentals, Homes, Apartments & Rooms for Rent - Airbnb</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <link rel="canonical" href="https://www.airbnb.com/">
          <link rel="alternate" href="https://www.airbnb.com/" hreflang="en">
          <link rel="alternate" href="https://www.airbnb.co.uk/" hreflang="en-GB">
          <link rel="alternate" href="https://www.airbnb.com.sg/" hreflang="en-SG">
          <link rel="alternate" href="https://www.airbnb.com.au/" hreflang="en-AU">
          <link rel="alternate" href="https://www.airbnb.co.nz/" hreflang="en-NZ">
          <link rel="alternate" href="https://www.airbnb.ca/" hreflang="en-CA">
          <link rel="alternate" href="https://www.airbnb.ie/" hreflang="en-IE">

      <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.airbnb.com/">
      <link rel="alternate" href="android-app://com.airbnb.android/airbnb">

      <meta name="description" content="Discover amazing, unique accommodations in 192 countries. With more than 10 million nights booked worldwide, Airbnb is the world leader in travel rentals.">




      <meta property="fb:app_id" content="138566025676">
      <meta property="og:site_name" content="Airbnb">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://www.airbnb.com/">
      <meta property="og:title" content="Vacation Rentals, Homes, Apartments &amp; Rooms for Rent - Airbnb">
      <meta property="og:description" content="Discover amazing, unique accommodations in 192 countries. With more than 10 million nights booked worldwide, Airbnb is the world leader in travel rentals.">
      <meta property="og:image" content="http://farm3.staticflickr.com/2908/13957589537_61c8c51802_b.jpg">
      <meta property="og:locale" content="en_US">

      <meta name="twitter:url" content="https://www.airbnb.com/">
      <meta name="twitter:description" content="Discover amazing, unique accommodations in 192 countries. With more than 10 million nights booked worldwide, Airbnb is the world leader in travel rentals.">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="Vacation Rentals, Homes, Apartments &amp; Rooms for Rent - Airbnb">
      <meta name="twitter:site" content="@airbnb">
      <meta name="twitter:app:name:iphone" content="Airbnb">
      <meta name="twitter:app:name:ipad" content="Airbnb">
      <meta name="twitter:app:name:googleplay" content="Airbnb">
      <meta name="twitter:app:id:iphone" content="401626263">
      <meta name="twitter:app:id:ipad" content="401626263">
      <meta name="twitter:app:id:googleplay" content="com.airbnb.android">
      <meta name="twitter:app:url:iphone" content="airbnb://">
      <meta name="twitter:app:url:ipad" content="airbnb://">
      <meta name="twitter:app:url:googleplay" content="airbnb://">

    <meta name="viewport" content="width=1000,maximum-scale=1.0">
    <link rel="image_src" href="http://farm3.staticflickr.com/2908/13957589537_61c8c51802_b.jpg">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Airbnb">

    <!--[if lt IE 9]>
      <script src="https://a0.muscache.com/airbnb/static/vendor/html5shiv-69a2aa52c3c22c05685997eb91ac7036.js" type="text/javascript"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="https://a0.muscache.com/airbnb/static/logotype_favicon-2e5a2c7c6a64c00b95ed01dec8b85f57.ico">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2725447-1', 'auto');
  ga('send', 'pageview');
</script>

  </head>
  <body class=" home_view v2">
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-46MK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-46MK');</script>



  <div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width page-container">
      
      <a href="/"><img src="http://farm3.staticflickr.com/2908/13957589537_61c8c51802_b.jpg" border="0" alt="Обмін квартир" width="242" height="42"></a></p>

      <ul class="nav">
        <li id="header-search">
         <form action="/s" id="search-form">
           <!--<div id="search-bar">
             <i class="icon icon-search"></i>
             <input type="text" placeholder="Where are you going?" autocomplete="off" name="location" id="header-location">
             <input type="hidden" name="source" value="hdr">
           </div> -->
           <div id="header-search-settings">
             <label class="checkin">Check in <input type="text" id="header-search-checkin" name="checkin" class="checkin" placeholder="mm/dd/yyyy"/></label>
             <label class="checkout">Check out <input type="text" id="header-search-checkout" class="checkout" name="checkout" placeholder="mm/dd/yyyy"/></label>
             <label class="guests">Guests
               <div class="select select-block">
                 <select id="header-search-guests" name="guests">
                   <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option>
                 </select>
               </div>
             </label>
             <label>Room type</label>
             <label class="checkbox" for="room_type_0"><input type="checkbox" id="room_type_0" name="room_types[]" value="Entire home/apt"/> Entire home/apt</label>
             <label class="checkbox" for="room_type_1"><input type="checkbox" id="room_type_1" name="room_types[]" value="Private room"/> Private room</label>
             <label class="checkbox" for="room_type_2"><input type="checkbox" id="room_type_2" name="room_types[]" value="Shared room"/> Shared room</label>
             <button type="submit" class="btn btn-primary blue"><i class="icon icon-search"></i> Find a place</button>
           </div>
         </form>
        </li>
        <li class="dropdown item_explore">
         <a class="dropdown-toggle" href="javascript:void(0)"> Browse <b class="caret"></b></a>
         <ul class="dropdown-menu dropdown-bordered">
           <li><a href="/wishlists/popular"><i class="icon icon-product-wishlist icon-heart pink"></i> Popular</a></li>
           <li><a href="/wishlists/friends"><i class="icon icon-group"></i> Friends</a></li>
           <li><a href="/locations"><i class="icon icon-product-neighborhoods icon-map-marker blue"></i> Neighborhoods</a></li>
           <li class="groups"><a href="/groups"><i class="icon icon-comments"></i> Groups</a></li>
         </ul>
        </li>
      </ul>

      <ul class="nav pull-right help-menu" style="margin-left:0;">
        <li class="dropdown" data-dropdown-sticky="true">
          <a id="help_dropdown" class="dropdown-toggle help-toggle" href="javascript:void(0)"> Help <b class="caret"></b></a>
          <div class="dropdown-menu help-dropdown dropdown-bordered">
            <div class="nav-header">
              <a href="/help?ref=help-dropdown" class="help-center-link">Visit the Help Center &#187;</a>
            </div>
            <ul class="unstyled list-unstyled">
              <li class="loading"></li>
              <li class="hidden">
                <a href="/safety?ref=help-dropdown" class="">Visit our Trust & Safety Center</a>
              </li>
              <li class="all_faqs hidden">
                <a href="/help/topic/hosting?ref=help-dropdown">See all FAQs</a>
              </li>
              <li id="faqadmin" style="display: none;">
                <input type="hidden" name="faq_link[page]" value="homepages-show">
              </li>
            </ul>
          </div>
        </li>
        <li class="list-your-space">
          <a id="list-your-space" class="yellow btn btn-special" href="/rooms/new">Подати оголошення</a>
        </li>
      </ul>

      <ul class="nav pull-right logged-out">
        <li id="sign_up"><a data-signup-modal href="/signup_login?redirect_params[action]=show&amp;redirect_params[controller]=homepages&amp;redirect_params[locale]=en">Sign Up</a></li>
        <li id="login"><a data-login-modal href="/login?redirect_params[action]=show&amp;redirect_params[controller]=homepages&amp;redirect_params[locale]=en">Log In</a></li>
      </ul>

      <ul class="nav pull-right logged-in">
        <li class="dropdown user-item">
          <a class="dropdown-toggle" href="javascript:void(0)">
            <div class="mini-media-box media-photo user-profile-image"></div>
            <span class="value_name">User</span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-bordered header-dropdown">
            <li><a href="/home/dashboard">Dashboard</a></li>
            <li class="listings">
              <a href="/rooms">
                <span class="singular" style="display: none;">Your Listing</span>
                <span class="plural">Your Listings</span>
              </a>
            </li>
            <li class="reservations" style="display: none;">
              <a href="/my_listings">Your Reservations</a>
            </li>
            <li><a href="/trips/upcoming">Your Trips</a></li>
            <li><a href="/wishlists/my" id="wishlists">Wish Lists</a></li>
            <li class="groups">
              <a href="/groups">Groups</a>
            </li>
            <li>
              <a href="/invite?r=3">
                Invite Friends
                <span class="label label-pink label-new">New</span>
              </a>
            </li>
            <li><a href="/users/edit">Edit Profile</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/logout" id="header-logout">Log Out</a></li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li id="inbox-item">
          <a href="/inbox"><i class="icon icon-mail hide-text"><span class="text-hide">Inbox</span></i><i class="alert-count position-super fade">0</i></a>
        </li>
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>


    <script src="https://a0.muscache.com/airbnb/static/header_cookie-4cab6c6b62a4a9f229794635e763c468.js" type="text/javascript"></script>

    <script>new HeaderPreload();</script>

      <div class='span12 flash-container'>
      </div>

    


<div id="hero" style="display:block;" 
     data-native-currency="CZK"
     class="">
  <ul class="list-unstyled" id="slideshow">
        <li class="active" data-bg-opacity="1">
        <img alt="Beautiful Villa on the Beach" src="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/387153-b6473710c2cb9ec734cb06bf9d90bdd8.jpg"  height="700" width="1600">
          <div class="caption">
            <a href="/rooms/387153" class="media-photo pull-right">
              <img src="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/thumbs/387153-098c2c9ac018937ef05a8b7079c4149e.jpg"  height="40" width="40">
            </a>
            <p>
              <strong><a href="/rooms/387153">Beautiful Villa on the Beach</a></strong><br />
              <a href="/rooms/387153">Bali, Indonesia</a> -
              <span class="price" data-price="193.0">
                <a href="/rooms/387153">$193</a>
              </span>
            </p>
          </div>
        </li>
        <li  data-bg-opacity="1">
        <img alt="Architectural Home with Bay View" data-image-url="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/188979-d4f59eeabe133513d6a4e6a5de62995e.jpg"  height="700" width="1600">
          <div class="caption">
            <a href="/rooms/188979" class="media-photo pull-right">
              <img data-image-url="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/thumbs/188979-c87fdf70b9df6f03b9dfeaacbc07424f.jpg"  height="40" width="40">
            </a>
            <p>
              <strong><a href="/rooms/188979">Architectural Home with Bay View</a></strong><br />
              <a href="/rooms/188979">Mastic Beach, New York</a> -
              <span class="price" data-price="850.0">
                <a href="/rooms/188979">$850</a>
              </span>
            </p>
          </div>
        </li>
        <li  data-bg-opacity="1">
        <img alt="Indoor Hut in Germany" data-image-url="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/511605-333786588d7d46abb7949afeb3dbddfb.jpg"  height="700" width="1600">
          <div class="caption">
            <a href="/rooms/511605" class="media-photo pull-right">
              <img data-image-url="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/thumbs/511605-3b6430731c0469cb219253433f5f975d.jpg"  height="40" width="40">
            </a>
            <p>
              <strong><a href="/rooms/511605">Indoor Hut in Germany</a></strong><br />
              <a href="/rooms/511605">Konstanz, Germany</a> -
              <span class="price" data-price="90.50403787245894">
                <a href="/rooms/511605">$91</a>
              </span>
            </p>
          </div>
        </li>
  </ul>

  <div class="search-area">
    <div class="page-container page-container-fixed">
      <div class="row">
        <div class="col-11">
          <div id="blob-bg" style="opacity: 1"></div>
          <h1 class='text-special'>Підібрати варіанти обміну.</h1>
          <h2>Більше 10 000 варіантів в 25 найбільших містах України.</h2>

          <form action="/s" id="search_form" class="custom show-search-options position-left form-inline inline-block form-inline">
            <!--
            <div class="input-wrapper">
              <input type="text" class="location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?" />
              <p id="enter_location_error_message" class="bad" style="display:none;">
                Please set location
              </p>
            </div>
          -->
          
            <div class="input-wrapper">
            
              <div class="custom-select-container">
                      
                <select id="guests" name="guests" class="search-option small">
                  <option value="1">1-кімн.</option>
                  <option value="2">2-кімн.</option>
                  <option value="3">3-кімн.</option>
                  <option value="4">4-кімн.</option>
                  <option value="5">5-кімн.</option>
                  <option value="6">>5-кімн.</option>

                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    1-кімн.
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

            <div class="input-wrapper">
            
              <div class="custom-select-container">
            

                <select id="guests" name="guests" class="search-option small">
                  <option value="1">квартиру</option>
                  <option value="2">будинок</option>
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    квартиру
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

           <div class="input-wrapper">
            
              <div class="custom-select-container">
                

                <select id="guests" name="guests" class="search-option small">
                  <option value="1">Києві</option>
                  <option value="2">Донецьку</option>
                  <option value="3">Дніпропетровьску</option>
                  <option value="4">Одесі</option>
                  <option value="5">Запоріжжі</option>
                  <option value="6">Львові</option>
                  <option value="7">Харкові</option>
                 
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    Києві
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>




<!-- Календарі оригінальні
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Тип обміну" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Check in" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkoutWrapper" class="input-wrapper">
              <input type="text" id="checkout" class="checkout search-option input-large input-contrast" name="checkout" placeholder="Check out" />
              <span class="search-area-icon search-area-icon-checkout"></span>
            </div>



            <input type="hidden" name="source" value="bb">

            <button type="submit" class="btn btn-primary btn-large btn-contrast" id="submit_location">
              Підібрати
            </button>-->
          </form>



<div class="row-space-6">
  <p class='text-left'>
    All neighborhood guides
  </p>
</div>



<div class="text-contrast">
         <h2> ОБМІНЯЮ НА </h2>                                                                                
        </div>



  <form action="/s" id="search_form" class="custom show-search-options position-left form-inline inline-block form-inline">
            <!--
            <div class="input-wrapper">
              <input type="text" class="location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?" />
              <p id="enter_location_error_message" class="bad" style="display:none;">
                Please set location
              </p>
            </div>
          -->
          
            <div class="input-wrapper">
            
              <div class="custom-select-container">
                      
                <select id="guests" name="guests" class="search-option small">
                  <option value="1">1-кімн.</option>
                  <option value="2">2-кімн.</option>
                  <option value="3">3-кімн.</option>
                  <option value="4">4-кімн.</option>
                  <option value="5">5-кімн.</option>
                  <option value="6">>5-кімн.</option>

                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    1-кімн.
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

            <div class="input-wrapper">
            
              <div class="custom-select-container">
            

                <select id="flat" name="flat" class="search-option small">
                  <option value="11">квартиру</option>
                  <option value="12">будинок</option>
                
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    квартиру
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>

           <div class="input-wrapper">
            
              <div class="custom-select-container">
                

                <select id="guests" name="guests" class="search-option small">
                  <option value="1">Києві</option>
                  <option value="2">Донецьку</option>
                  <option value="3">Дніпропетровьску</option>
                  <option value="4">Одесі</option>
                  <option value="5">Запоріжжі</option>
                  <option value="6">Львові</option>
                  <option value="7">Харкові</option>
                 
                </select>

                <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
                  <span class="value language current">
                    Києві
                  </span>
                  <i class="icon icon-caret-down icon-gray"></i>
                </div>
              </div>
            </div>




<!-- Календарі оригінальні
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Тип обміну" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkinWrapper" class="input-wrapper">
              <input type="text" id="checkin" class="checkin search-option input-large input-contrast" name="checkin" placeholder="Check in" />
              <span class="search-area-icon"></span>
            </div>
            <div id="checkoutWrapper" class="input-wrapper">
              <input type="text" id="checkout" class="checkout search-option input-large input-contrast" name="checkout" placeholder="Check out" />
              <span class="search-area-icon search-area-icon-checkout"></span>
            </div>

-->

            <input type="hidden" name="source" value="bb">

            <button type="submit" class="btn btn-primary btn-large btn-contrast" id="submit_location">
              Підібрати
            </button>
          </form>












        </div>
      </div>
    </div>
  </div>
    <a href="#" class="slideshow-scroll slideshow-scroll-prev faded-out show-desktop">
      <i class="icon icon-chevron-left"></i>
    </a>
    <a href="#" class="slideshow-scroll slideshow-scroll-next faded-out show-desktop">
      <i class="icon icon-chevron-right"></i>
    </a>
</div>

































<div class="panel panel-dark row-space-4">
  <div class="page-container page-container-fixed">
    <div class="row-space-top-6"></div>
    <div class="row-space-5 panel referral-banner-outline hide">
  <div class="panel-body referral-banner clearfix">
    <div class="banner-text">
      <img alt="Coupon_icon-0bbebbc7cd2c640544ce6632b8aab35a" src="https://a0.muscache.com/airbnb/static/command_center/coupon_icon-0bbebbc7cd2c640544ce6632b8aab35a.png" />
    </div>
    <div class="banner-text">
      <span class="h2">
        Invite friends, earn travel credit
      </span>
      <div class="referrals-promo-subtext">
        Earn travel credit for every friend you invite.
      </div>
    </div>
    <div class="button-div">
      <a href="/invite?r=10" class="btn btn-primary btn-large">
        Invite friends
      </a>
    </div>
  </div>
</div>

<div class="row-space-3">
  <div class="section-intro">
    <h2>Neighborhood Guides</h2>
    <p class='text-lead'>Not sure where to stay? We've created neighborhood guides for cities all around the world.
    </p>
  </div>
</div>

<ul class="city-tiles list-unstyled">
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-barcelona"></div>
        <a href="/locations/barcelona" class="block-link">
          <h4 class='text-special'>
            Barcelona
          </h4>
          <span>
            21 neighborhoods
          </span>
</a>          <span class="label label-new">New</span>
      </li>
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-ny"></div>
        <a href="/locations/new-york" class="block-link">
          <h4 class='text-special'>
            New York
          </h4>
          <span>
            60 neighborhoods
          </span>
</a>      </li>
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-rio"></div>
        <a href="/locations/rio-de-janeiro" class="block-link">
          <h4 class='text-special'>
            Rio de Janeiro
          </h4>
          <span>
            19 neighborhoods
          </span>
</a>      </li>
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-paris"></div>
        <a href="/locations/paris" class="block-link">
          <h4 class='text-special'>
            Paris
          </h4>
          <span>
            31 neighborhoods
          </span>
</a>      </li>
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-tokyo"></div>
        <a href="/locations/tokyo" class="block-link">
          <h4 class='text-special'>
            Tokyo
          </h4>
          <span>
            20 neighborhoods
          </span>
</a>      </li>
      <li class="city-tile">
        <div class="media-photo city-tile city-tile-sf"></div>
        <a href="/locations/san-francisco" class="block-link">
          <h4 class='text-special'>
            San Francisco
          </h4>
          <span>
            36 neighborhoods
          </span>
</a>      </li>
</ul>

<div class="row-space-6">
  <p class='text-center'>
    <a href="/locations" class="text-copy">All neighborhood guides</a>
  </p>
</div>

  </div>
</div>

<div class="page-container page-container-fixed">
  <div class="row">
    <div class="col-4 text-copy">
      <h3 class="text-special">Travel</h3>
      <p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
      <p><a href="/help/getting-started/how-to-travel">
        See how to travel on Airbnb</a></p>
    </div>

    <div class="col-4 text-copy">
      <h3 class="text-special">Host</h3>
      <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
      <p><a href="/help/getting-started/how-to-host">
        Learn more about hosting</a></p>
    </div>

    <div class="col-4 text-copy">
      <h3 class="text-special">
        Trust and Safety
      </h3>

      <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
      <p><a href="/trust">
        Learn about trust at Airbnb</a></p>
    </div>
  </div>
</div>



      <div id="footer" class="row-space-top-4 container-brand-dark footer-surround footer-container">
        <div class="footer-content-container container page-container">
  <div class="row row-condensed">
    <div class="span2 col-2">
      <h5>Location Settings</h5>

      <div class="language-curr-picker clearfix">
        <div class="language-picker"></div>
          <div class="currency-picker"></div>
      </div>
      <div>
        <ul id="asset-experiment-links" class="list-layout unstyled hide">
          <li id="show-pretzel" class="hide">
            <a class="btn btn-contrast btn-large large btn-block" href="#">Show Pretzel</a>
          </li>
          <li id="hide-pretzel" class="hide">
            <a class="btn btn-contrast btn-large large btn-block" href="#">Hide Pretzel</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span3 col-3 offset1 col-offset-1">
      <h5>Company</h5>
      <ul class="unstyled list-layout">
        <li><a href="/about/about-us">About</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/press/news">Press</a></li>
        <li><a href="http://blog.airbnb.com">Blog</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/policies">Policies</a></li>
        <li><a href="/disaster-response">Disaster Response</a></li>
        <li><a href="/terms">Terms & Privacy</a></li>
      </ul>
    </div>

    <div class="span3 col-3">
      <h5>Discover</h5>
      <ul class="unstyled list-layout">
        <li><a href="/trust">Trust & Safety</a></li>
        <li><a href="/invite?r=6">Invite Friends</a></li>
        <li><a href="/wishlists/airbnb_picks">Airbnb Picks</a></li>
        <li><a href="/mobile">Mobile</a></li>
        <li><a href="/sitemaps">Site Map</a></li>
      </ul>
    </div>

    <div class="span3 col-3">
      <h5>Hosting</h5>
      <ul class="unstyled list-layout">
        <li><a href="/info/why_host">Why Host</a></li>
        <li><a href="/hospitality">Hospitality</a></li>
        <li><a href="/help/responsible-hosting">Responsible Hosting</a></li>
        <li><a href="/stories">Stories</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-content-container-slim container-semi-opaque">
  <div class="container page-container">
    <div class="row">
      <div class="text-center span4 col-4 col-offset-4 offset4">
        <h5>Join us on</h5>
        <ul class="unstyled list-unstyled list-inline">
            <li><a href="//twitter.com/airbnb" target="_blank">
              Twitter
            </a></li>
            <li><a href="//www.facebook.com/airbnb" target="_blank">
              Facebook
            </a></li>
            <li><a href="https://plus.google.com/+airbnb" rel="publisher" target="_blank">
              Google
            </a></li>
            <li><a href="http://www.youtube.com/airbnb" target="_blank">
              YouTube
            </a></li>
        </ul>
        <div id="copyright" class="text-contrast">
          &copy; Airbnb, Inc.
        </div>
      </div>
    </div>
  </div>
</div>

      </div>

      <div id="fb-root"></div>

    <!--[if lt IE 9]>
      <script src="https://a0.muscache.com/airbnb/static/libs_jquery_1x-da2b7120de1fca716ec9b10839dfc882.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <script src="https://a0.muscache.com/airbnb/static/libs_jquery_2x-ba3075998163c02622926b9556bc93aa.js" type="text/javascript"></script>
    <!--<![endif]-->
    <script src="https://a0.muscache.com/airbnb/static/o2.1-fd21fe813c991ecfe95129900c0c4ceb.js" type="text/javascript"></script>
    <script src="https://a0.muscache.com/airbnb/static/core-bc97752449347715dbfec60ce0e05ca2.js" type="text/javascript"></script>

    <script>
      I18n.init(
        {"country":"US","currencies":{"ARS":{"symbol":"$","code_required":true,"options":null},"AUD":{"symbol":"$","code_required":true,"options":null},"BRL":{"symbol":"R$","code_required":false,"options":{"space_between_price_and_symbol":true}},"CAD":{"symbol":"$","code_required":true,"options":null},"CHF":{"symbol":"CHF","code_required":false,"options":{"position":"after","space_between_price_and_symbol":true}},"CNY":{"symbol":"&yen;","code_required":false,"options":{"unicode_symbol":"¥"}},"CZK":{"symbol":"&#75;&#269;","code_required":false,"options":{"unicode_symbol":"Kč"}},"DKK":{"symbol":"kr","code_required":true,"options":{"position":"after","space_between_price_and_symbol":true,"explicit_currency_not_aesthetic":true}},"EUR":{"symbol":"&euro;","code_required":false,"options":{"unicode_symbol":"€","position":"special"}},"GBP":{"symbol":"&pound;","code_required":false,"options":{"unicode_symbol":"£"}},"HKD":{"symbol":"$","code_required":true,"options":null},"HUF":{"symbol":"Ft","code_required":false,"options":null},"IDR":{"symbol":"Rp","code_required":false,"options":null},"ILS":{"symbol":"&#8362;","code_required":false,"options":{"unicode_symbol":"₪","space_between_price_and_symbol":true}},"INR":{"symbol":"&#8377;","code_required":false,"options":{"unicode_symbol":"₹"}},"JPY":{"symbol":"&yen;","code_required":false,"options":{"unicode_symbol":"¥","space_between_price_and_symbol":true}},"KRW":{"symbol":"&#8361;","code_required":false,"options":{"unicode_symbol":"₩","space_between_price_and_symbol":true}},"MYR":{"symbol":"&#82;&#77;","code_required":false,"options":{"unicode_symbol":"RM"}},"MXN":{"symbol":"$","code_required":true,"options":null},"NOK":{"symbol":"kr","code_required":true,"options":{"position":"after","space_between_price_and_symbol":true,"explicit_currency_not_aesthetic":true}},"NZD":{"symbol":"$","code_required":true,"options":null},"PHP":{"symbol":"&#8369;","code_required":false,"options":{"unicode_symbol":"₱"}},"PLN":{"symbol":"z&#22;&#322;","code_required":false,"options":{"unicode_symbol":"zł"}},"RUB":{"symbol":"&#1088;","code_required":false,"options":{"unicode_symbol":"р","position":"after"}},"SEK":{"symbol":"kr","code_required":true,"options":{"position":"after","space_between_price_and_symbol":true,"explicit_currency_not_aesthetic":true}},"SGD":{"symbol":"$","code_required":true,"options":null},"THB":{"symbol":"&#3647;","code_required":false,"options":{"unicode_symbol":"฿"}},"TRY":{"symbol":"&#84;&#76;","code_required":false,"options":{"unicode_symbol":"TL","position":"after","space_between_price_and_symbol":true}},"TWD":{"symbol":"$","code_required":true,"options":null},"USD":{"symbol":"$","code_required":false,"options":null},"VND":{"symbol":"&#8363;","code_required":false,"options":{"unicode_symbol":"₫"}},"ZAR":{"symbol":"R","code_required":true,"options":null}},"current_locale_name":"English","languages":[{"locale_name":"Bahasa Indonesia","locale":"id"},{"locale_name":"Bahasa Melayu","locale":"ms"},{"locale_name":"Català","locale":"ca"},{"locale_name":"Dansk","locale":"da"},{"locale_name":"Deutsch","locale":"de"},{"locale_name":"English","locale":"en"},{"locale_name":"Español","locale":"es"},{"locale_name":"Eλληνικά","locale":"el"},{"locale_name":"Français","locale":"fr"},{"locale_name":"Italiano","locale":"it"},{"locale_name":"Magyar","locale":"hu"},{"locale_name":"Nederlands","locale":"nl"},{"locale_name":"Norsk","locale":"no"},{"locale_name":"Polski","locale":"pl"},{"locale_name":"Português","locale":"pt"},{"locale_name":"Suomi","locale":"fi"},{"locale_name":"Svenska","locale":"sv"},{"locale_name":"Türkçe","locale":"tr"},{"locale_name":"Íslenska","locale":"is"},{"locale_name":"Čeština","locale":"cs"},{"locale_name":"Русский","locale":"ru"},{"locale_name":"ภาษาไทย","locale":"th"},{"locale_name":"中文 (简体)","locale":"zh"},{"locale_name":"中文 (繁體)","locale":"zh-TW"},{"locale_name":"日本語","locale":"ja"},{"locale_name":"한국어","locale":"ko"}]}
      );
      I18n.extend({"Password":"Password","users.Confirm_Password_to_Continue":"Confirm Password to Continue","users.Confirm_Password":"Confirm Password","users.Cancel":"Cancel","users.Please_enter_your_Airbnb_password_to_continue.":"For your security, please enter your Airbnb password to continue.","user.signup.forgot_password":"Forgot password?","users.Confirm_Facebook_Password":"Confirm Facebook Password","choose_language":"Choose language","choose_currency":"Choose currency","clear_dates":"Clear Dates"});
    </script>


    <script>
  (function(c,a){window.mixpanel=a;var b,d,h,e;
  a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links','track_forms','register','register_once','unregister','identify','name_tag','set_config','people.identify','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;})(document,window.mixpanel||[]);mixpanel.init("871bd83d174bd67e8c8643e833a4514d");
</script>


      <script>
        !function() {
          var Facebook = require('airbnb.facebook');
          Facebook.init({"appId":"138566025676","scope":"email,user_birthday,user_likes,user_education_history,user_hometown,user_interests,user_activities,user_location"});
        }();
      </script>

    
    <script src="https://a0.muscache.com/airbnb/static/homepage-7a275a54b4ca520e3a0712a669f794ea.js" type="text/javascript"></script>
    

    <script>
      try {
        window.___gcfg = {lang: 'en', parsetags: 'onload'};


        (function() {
          var initOptions = {"canonical_host":"www.airbnb.com","canonical_url":"https://www.airbnb.com/","locale":"en"};
          Airbnb.init(initOptions);

          Airbnb.o2Version = "o2.1";

          Airbnb.LangCurrPicker.init();

          Airbnb.header = new Airbnb.Header();

          if (Airbnb.Tracking) {
            var userID = Airbnb.userAttributes.id || null,
                roleType = "production";

            Airbnb.Tracking.addDefaultContext();
            Airbnb.Tracking.addContext(
              _.extend({"o2Version":"o2.1","source":"monorail","platform":"js","version":"746000f17977c80475ef4d2c8d697ab5e1e9cf37","controller":"homepages","action":"show","req_uuid":"0727cc30-42cc-4910-8d4b-9eb35474ba1f"}, {
                user_id: userID
              }));

            Airbnb.addInitHook(function() {
              Airbnb.Tracking.init();

              if (Airbnb.ExceptionTracker && window.TraceKit) {
                Airbnb.ExceptionTracker.init(window.TraceKit,
                                             Airbnb.Tracking,
                                             userID,
                                             roleType);
              }

            });
          }

        })();

        Airbnb.Api.configure({"baseUrl":"https://www.airbnb.com/api","key":"d306zoyjsyarp7ifhu67rjxn52tv0t20"});


          (function() {
            var flash = require('o2-flash');
            flash.display('.flash-container');
          })();

        
  !function($) {
    var $location = $('#location');
    $location.focus();

    $(window).on('load', function() {
      Airbnb.Utils.withGooglePlaces(function(){
        var autocomplete = new google.maps.places.Autocomplete(
          $location[0], {types: ["geocode"]}
        );
      });
    });

    var $pacContainer = null;
    $location.on('keydown', function(e) {
      if(e.keyCode === 13) {
        if(!$pacContainer || !$pacContainer.length) {
          $pacContainer = $('.pac-container');
        }
        if($pacContainer.is(':visible')) e.preventDefault();
      }
    });
  }(jQuery);

  $(function(){
    if(Airbnb.userAttributes.og_publish) {
      $(document).bind('fbLoginStatus', Airbnb.Utils.fbInitHasPublishAction);
    }

    AIR.HomepageHelper.initHomepageHero();
    $(window).bind("load", function() {
        AIR.HomepageHelper.initSlideshow();
      setTimeout(function() {
        Airbnb.Utils.preload(["https://a0.muscache.com/airbnb/static/packages/map_search-f6cb75aed76298dbe6e083b41cf3576f.css","https://a0.muscache.com/airbnb/static/map_search-4bede0b5982b5571b27c3463d16adf9a.js"]);
      }, 200);
      $('.referrals-tile-background').click(function() {
        document.location.href = '/invite?r=11';
      });
      $.ajax({
        url: "/homepages/ajax_get_referrals_amt",
        success: function(data) {
          data = $.trim(data);
          if(data !== '') {
            $('.referrals-promo-subtext').text(data);
          }
        }
      });
      $.get("/homepages/ajax_referral_banner_type", function(data) {
        data = $.trim(data);
        if(data == "show_homepage_wide_referral_banner") {
          $('.referral-banner-outline').removeClass("hide");
        }
      });
    });
  });


      } catch(e) {
        if (window.TraceKit) {
          TraceKit.report(e);
        }
      }
    </script>

    <script>
(function($, ua) {
  $(window).on('load.pellet', function(){
    if(ua.should_drop_pellet){
      Airbnb.Pellet.drop('kfgn8s24');
    }
  });

  if (ua.should_drop_sift_pellet) {
    $(window).on('load', function(){
      window._sift = window._sift || [];
      _sift.push(['_setAccount', '5d704de7e8']);
      _sift.push(['_setUserId', ua.eid || '']);
      _sift.push(['_setSessionId', Airbnb.Utils.readCookie('esid')]);
      _sift.push(['_trackPageview']);
      LazyLoad.js('//cdn.siftscience.com/s.js');
    });
  }

})(jQuery, Airbnb.userAttributes);

</script>


    <script>
      LazyLoad.js('//a0.muscache.com/3p/_latest/abb_combo_all_fb_locale-en_US.js');
    </script>

  </body>
</html>
<!-- ver. 746000f17977c80475ef4d2c8d697ab5e1e9cf37 -->
